.header {
    background: #000;
}
  
.header__inner {
    margin: 0 auto;
    padding: 20px;
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
}

.header__inner nav {
    display: inline-block;
}
  
.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 36px;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}
  